.layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
